.idea/
cpp/release/
cpp/debug/
cpp/Integration/release/
cpp/Integration/debug/
python/venv
venv/
*__pycache__/
dist/
build/
pykingas.egg-info/
venv3.8/
rebuild.sh
test.py
.vscode/
.DS_Store
sandbox.py
*.mplstyle